@import "tailwindcss";
@import url('https://db.onlinewebfonts.com/c/1b99743bcb88cf33f2f85350f2023ac3?family=Champion-HTF-Bantamweight');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #111111;
    color: white;
}
/* index.css or App.css */
html, body {
  overflow-x: hidden;
}

/* In your index.css */
.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
